.btn {
    color:#fff;
    background-color: #B68C5A;
}

.Area{
font-family: 'EB Garamond';
font-weight: 800;
font-size: 40px;
color: #414040;
gap: 24px;


}
.Para{
font-family: 'Poppins';
font-weight: 400;
font-size: 16px;
color: #707070;
gap: 64px;




}
.card {
    background: linear-gradient(180deg, #F3F3F3 0%, rgba(243, 243, 243, 0) 100%);
}

.client_Heading{
    font-family: 'EB Garamond';
    font-weight: 800;
    font-size: 40px;
    color: #414040;
    gap: 24px;
    
}
.client_Description{
font-family: 'Poppins';
font-weight: 400;
font-size: 16px;
color: #707070;
gap: 64px;


}
.Question_Heading{
    font-family: 'EB Garamond';
    font-weight: 800;
    font-size: 40px;
    color: #414040;
    gap: 24px;
    
}
.Question_Description {
font-family: 'Poppins';
font-weight: 400;
font-size: 16px;
color: #707070;
gap: 64px;
}
.table{
    background-color: #111;
   
}
.tabled{
    color: #fff;
}
.form-control{
    margin-left: 450px;
}
.card-title{
font-family: 'EB Garamond';
font-weight: 800;
font-size: 72px;
color: #FFFFFF;


}
.card-text{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    color: #E7E7E7;
    
}
.type_Heading{
    font-family: 'EB Garamond';
    font-weight: 800;
    font-size: 40px;
    color: #414040;
    gap: 24px;
    
}


